body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.floating-image {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100px; /* Ancho deseado */
  height: auto; /* Altura automática para mantener la proporción */
}

.floating-image.appear {
  opacity: 1;
}

.floating-image.disappear {
  opacity: 0;
}

